<component name="libraryTable">
  <library name="spring-beans-5.3.22-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/spring-5.3.22-20220713.132606-39-dist/spring-framework-5.3.22-SNAPSHOT/libs/spring-beans-5.3.22-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-5.3.22-20220713.132606-39-dist/spring-framework-5.3.22-SNAPSHOT/libs/spring-context-5.3.22-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-5.3.22-20220713.132606-39-dist/spring-framework-5.3.22-SNAPSHOT/libs/spring-core-5.3.22-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-5.3.22-20220713.132606-39-dist/spring-framework-5.3.22-SNAPSHOT/libs/spring-expression-5.3.22-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-5.3.22-20220713.132606-39-dist/spring-framework-5.3.22-SNAPSHOT/libs/spring-jcl-5.3.22-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>